@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Dashboard";
}

<h1>@Page.Title</h1>

@if (Session["Username"] == null)
{
    <h3><a href="~/Account/Login.cshtml">Login</a> to view favorite players and teams.</h3>
}
else
{
<h2>Favorite Players</h2>
<table class="center">
    <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Total Yards</th>
        <th>Total Tds</th>
        <th></th>
    </tr>
</table>

<h2>Favorite Teams</h2>
<table class="center">
    <tr>
        <th>Team</th>
        <th>Record</th>
        <th>Total Yards</th>
        <th>Total Tds</th>
        <th></th>
    </tr>
</table>
}