@using DatabaseModels;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Dashboard";

    var dashboard = new Dashboard();
    List<Player> players = new List<Player>();
    List<Team> teams = new List<Team>();

    if (Session["username"] != null)
    {
        players = dashboard.getFavoritePlayers(Session["username"].ToString());
        teams = dashboard.getFavoriteTeams(Session["username"].ToString());
    }

}

<h1>@Page.Title</h1>

@if (Session["Username"] == null)
{
    <h3><a href="~/Account/Login.cshtml">Login</a> to view favorite players and teams.</h3>
}
else
{
    <h2>Favorite Players</h2>
    if (!players.Any())
    {
        <h3>Add favorite players <a href="~/Players.cshtml">here</a>.</h3>
    }
    else
    {
        <table class="center">
            <tr>
                <th>Player</th>
                <th>Number</th>
                <th>Team</th>
                <th>Total Yards</th>
                <th>Total Tds</th>
                <th></th>
            </tr>
            @foreach (Player p in players)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Number</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    }
    <h2>Favorite Teams</h2>
    if (!teams.Any())
    {
        <h3>Add favorite teams <a href="~/Teams.cshtml">here</a>.</h3>
    }
    else
    {
        <table class="center">
            <tr>
                <th>Team</th>
                <th>Record</th>
                <th>Total Yards</th>
                <th>Total Tds</th>
                <th></th>
            </tr>
            @foreach (Team t in teams)
            {
                <tr>
                    <td>@t.Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    }
}