@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Football Stats DB";

}

<p>
    Welcome to Football Stats DB. Our site is still under construction and lacking key features. Bare
    with us as we continue to work on the key features of this site and make it a useful website for all our users.
    In the mean time, feel free to register an account and login and we will have more features for you in the
    future.<br /><br />

    Thanks,<br />
    Matt and Nathan
</p>