@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Football Stats DB";

}

<h2>Welcome to Football Stats DB</h2>

<p>
    <h3>Things to do:</h3>
    <ol>
        <li>Create an account</li>
        <li>Login</li>
        <li>View stats for players and teams</li>
        <li>Add players and teams to your dashboard to keep track of them</li>
        <li>View future projections for players and teams</li>
    </ol>
    <br />
    We hope you enjoy our site and find it easy to navigate and useful!
</p>