@using DatabaseModels;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Football Stats DB";
<<<<<<< HEAD
    var teams = LoadTeams.GetTeams();
    var last = teams.Count - 1;
    var count = 0;

    if (IsPost)
    {
        Session["TeamSearch"] = Request.Form["search"];
        Response.Redirect("~/Teams");
    }
=======
    var teams = new LoadTeams();
>>>>>>> acb7b8edfb000905aba41ced8ee20dafb8b1466b
}
<h2>Teams</h2>

<table class="center">
    <tr>
        <th>Team Name</th>
    </tr>
    @foreach (Team t in teams)
    {
<<<<<<< HEAD
        if (Session["TeamSearch"] != null)
        {
            var team = Session["TeamSearch"].ToString();
            if (t.Name.IndexOf(@team, StringComparison.OrdinalIgnoreCase) >= 0)
            {
                <tr>
                    <td>@t.Name</td>
                    <td align="center"><button type="button">Add</button></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@t.Name</td>
                <td align="center"><button type="button">Add</button></td>
            </tr>
        }
        if(count == last)
        {
            Session["TeamSearch"] = null;
        }
        count++;
=======
        <tr>
            <td>@t.Name</td>
        </tr>
>>>>>>> acb7b8edfb000905aba41ced8ee20dafb8b1466b
    }
</table>